
#header
	{
		position: relative;
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
		text-align: center;
		margin: 0;
		padding: 1em 0 1em 0;
		cursor: default;
	}
#h
			{
				border-top: solid 1px rgba(255,255,255,0.5);
			}	
#h2
			{
				box-shadow: inset 0 0 0 1.5px #fff;
				width: 100px;
				height: 20px;
				margin-left: 90px;
			}	
.main_wrap{    
	position: absolute; 
	left: 0;    
	right: 0;    
	top: 0;    
	bottom: 0; 
	width: 17.75rem;
	height: 30rem;
	background: #183026 url('../images/bg.jpg') no-repeat;
	margin: 2.8rem auto 0;} 
.menu{    
	width:17rem;    
	height:0.1rem;    
	margin:0 0 0 0;} 
.menu ul{
	width:8.5rem;
}
.menu li{
	list-style-type:none;         
}
.menu2 li{
	list-style-type:none;         
}
.menu3 li{
	list-style-type:none;         
}
.menu4 li{
	list-style-type:none;         
}
.menu_c{
	width:17rem;    
	height:3rem;    
	margin:1rem 0 0 0;
}
.menu_c li{
	list-style-type:none;         
}
.ls{    
	width:1.5rem;    
	height:4.1rem;    
	float:left;    
	margin-left:1.625rem;
} 
.wc{
	float:left; 
}
.ls2{  
	position: absolute;
	float:left;    
	margin-right:1rem;
	margin-top: 1rem;
	color:#fff;
}

.ls3{    
	width:1.5rem;    
	height:3.4rem;    
	float:left;    
	margin-right:1.625rem;
	margin-top: 0.6rem;
} 
.ls4{
	width:1.5rem;    
	height:4.1rem;    
	float:left;    
	margin-left:2rem;
}
.lf{
	margin-left: 4.5rem;
}
.lf3{
	margin:4.5rem 0 0 4.5rem;
}
.setting{
	margin:15.5rem 0 0 13.5rem;
}
.setting2{
	margin:3rem 0 0 13.5rem;
}
#container {
	width: 100%;
	width:1.5rem;    
	height:4.1rem;    
	float:left;    
	margin-right:1.625rem;
}
#photo {float: left; width: 40%;}
#content {float: right; width: 35%;color:#fff;} 
.outer-container{
	width: 360px;
	height: 200px;
	position: relative;
	overflow: hidden;
}
.inner-container{
	position: absolute;
	left: 0;
	top: 0;
	right: -17px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}